node_modules/
dist/
.mastra/
.env.secret
.env.local
.qasey/*
artifacts/
playwright-report/
test-results/
*.log
.DS_Store
!.qasey/mcp.json
.playwright-cli

# @moego/aws-secret-env
!.env
!.env.*
.env.local
.env.*.local
.env.secret
.env.secret.tmp
.env.secret.*.tmp
!.env.local.example
!.env.secret.example
# end @moego/aws-secret-env
